@charset "UTF-8";

* {
	margin: 0;
	padding: 0
}

.cart input, .cart textarea, .cart select, .cart button, .cart table {
	font-family: '나눔고딕', NanumGothic, '맑은고딕', MalgunGothic, '돋움', Dotum,
		Helvetica, sans-serif;
	font-size: 12px
}

img, fieldset {
	border: 0
}

ul, ol {
	list-style: none
}

em, address {
	font-style: normal
}

a {
	text-decoration: none
}

a:hover, a:active, a:focus {
	text-decoration: underline
}

.blind {
	visibility: hidden;
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
	width: 1px;
	height: 1px;
	font-size: 0;
	line-height: 0;
}

.product_info {
	overflow: hidden;
	margin-top: -3px;
	font-family: '돋움', dotum;
}

.product_info .thumb {
	float: left;
}

.product_info dl {
	overflow: hidden;
	padding-left: 15px;
}

.product_info dt {
	font-size: 12px;
	font-weight: bold;
	color: #20232c;
	line-height: 18px;
}

.product_info dd {
	padding-top: 3px;
	font-weight: bold;
}

.product_amount {
	overflow: hidden;
	margin-top: 10px;
}

.product_amount .span_amount {
	width: 200px;
	padding-left: 5px;
	float: left;
	margin-top: 8px;
}

.amount {
	float: left;
	margin-top: 8px;
}

.amount_ctrl {
	float: left;
	width: 21px;
	height: 22px;
	margin: 6px 0 0 3px;
	padding: 0;
}

.amount_ctrl a {
	display: block;
	overflow: hidden;
	width: 21px;
	height: 11px;
	background: url(/resources/image/cart/spr_btn.gif) no-repeat;
}

.amount_ctrl .btn_plus {
	background-position: 100% 0;
}

.amount_ctrl .btn_minus {
	background-position: 100% -11px;
}

.total_price {
	overflow: hidden;
	padding: 12px 0 13px;
}

.total_price dt {
	padding-right: 10px;
	padding-top: 8px;
	margin-right: 105px;
}

.total_price em.thm {
	font-size: 22px;
	font-weight: bold;
}

.btn_footer {
	clear: both;
	text-align: center;
}

.btn_footer a {
	display: inline-block;
	height: 30px;
	background: url(/resources/image/cart/spr_btn.gif) no-repeat;
}

.btn_footer a.btn_confirm {
	width: 60px;
	background-position: 0 -280px;
}

.btn_footer a.btn_cancel {
	width: 60px;
	background-position: 0 -240px;
}

#pop_container {
	width: 400px;
	overflow: hidden;
	margin: 0 auto;
	overflow: hidden;
}

#pop_content {
	margin: 10px 10px 10px 10px;
}